<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5-tablet is-10-mobile">
        <div id="nav">
          <a routerLink="/home" routerLinkActive="is-active">Home</a>
          <a routerLink="/about" routerLinkActive="is-active">About</a>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-5-tablet is-10-mobile">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
